<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.talend.core.component_installer_task">
      <componentInstallerTask
            class="org.talend.studio.components.tcompv0.jira.JiraInstaller" order="1" >
            <componentGAV g="org.talend.components" a="components-jira" v="0.37.0" c="" t="" ct="1" />
      </componentInstallerTask>
   </extension>

</plugin>
